@charset "UTF-8";
/* Fuentes */
/* Colores */
/* Medidas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: "EB Garamond", serif;
  margin: 2%;
  padding: 1%;
  color: #9D705F; }

p {
  color: black;
  font-family: "EB Garamond", serif; }

.titulosGenerales {
  color: #9D705F;
  font-family: "EB Garamond", serif; }

h2 {
  margin: 1%;
  padding: 1%;
  color: #9D705F;
  font-family: "EB Garamond", serif; }

h3 {
  color: #6d4535;
  margin: 1%;
  padding: 1%; }

h4 {
  color: black;
  font-family: "EB Garamond", serif; }

.descripcionProd {
  color: black;
  align-content: center;
  font-family: "EB Garamond", serif; }

.tituloCep {
  color: #6d4535;
  margin: 1%;
  padding: 1%; }

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #9D705F; }

/* footer */
.fotosRedes {
  background-color: #9D705F;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, #9D705F, #cf9f8c, #fff); }

.fotosRedes__imagenes {
  display: flex;
  padding: 1cm;
  margin-top: auto;
  justify-content: center;
  align-items: center; }

.fotosRedes__tamaño {
  width: 3rem; }

.copyRight {
  text-align: center; }

/* seccion comunidad */
.ecoladrillos {
  display: flex;
  margin: 10cm;
  padding: 0cm;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-start;
  align-items: center; }

.ecoladrillo__imagen {
  width: 40%;
  margin: 50px; }

/* fuentes de texto */
.materiales {
  font-family: "EB Garamond", serif;
  font-size: 15px; }

.color-#9D705F {
  font-family: "EB Garamond", serif; }

.color-#6d4535 {
  font-family: "EB Garamond", serif; }

/* Imagenes de inicio para aplicar grids */
.destacados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
  padding: 20px;
  grid-gap: 10px;
  justify-content: center; }

.destacados__titulos {
  color: black;
  text-align: start;
  font-family: "EB Garamond", serif; }

/* transiciones */
.destacados .destacados__imagenes--prod {
  height: 200px;
  width: 200px;
  object-fit: cover; }

/* imagenes seccion productos  */
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  margin: 10px 10px 10px 70px;
  grid-gap: 10px; }

.productos__div--img {
  width: 200px;
  height: 300px;
  object-fit: cover; }

/* estilo con sass */
.tituloProd {
  font-family: "EB Garamond", serif;
  margin: 2%;
  padding: 1%;
  color: #9D705F;
  border-bottom: solid 3px #9D705F; }

.logo {
  width: 160px; }

/*  media querie en imagenes de index y productos */
@media screen and (max-width: 760px) {
  .destacados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center; }
  .card-img-top {
    width: 5rem;
    height: 5rem; }
  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 320px) {
  .destacados {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
  .productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    justify-content: center; }
  .iframeResponsive {
    display: grid;
    margin: 5px;
    justify-content: flex-start; }
  .card-img-top {
    width: 5rem;
    height: 5rem; }
  .card-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

/* estilos con SASS */
/* formulario seccion contacto */
form {
  font-family: "EB Garamond", serif;
  color: black;
  margin: 20px;
  padding: 20px; }

.formulario {
  margin: 20px;
  padding: 5px; }

/* seccion comunidad */
ul li {
  font-family: "EB Garamond", serif; }

p {
  font-family: "EB Garamond", serif;
  color: black;
  margin-left: 10px; }

.composta {
  width: 40%;
  margin: 50px; }

/* cards  */
.card-img-top {
  width: 20rem;
  height: 20rem;
  object-fit: cover; }

.card-group {
  margin: auto; }

/* button  */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #6d4535;
  border-color: #9D705F; }
